language: ruby

ruby:
  - 2.6.6

cache: bundler

before_script:
  - chmod +x ./script/cibuild

script: script/cibuild

env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true

notifications:
  email: false
    
deploy:
  provider: pages
  edge: true
  cleanup: false
  keep_history: true
  local_dir: "./_site"
  commit_message: "release: deploy %{project_name}"
  github_token: $github_token
  target_branch: gh-pages
  on:
    branch: source