<script>
    var cookiesAlreadyAccepted = false;

    function createCookie(name,value,days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
    function eraseCookie(name) {
        createCookie(name,"",-1);
    }

    function processCookieConfiguration(miguelsd_personalization, google_analysis){
        if(miguelsd_personalization){
            createCookie('cookie-notice-dismissed','true',365);
        }

        if(google_analysis){   
            createCookie('cookie-google-analysis_accepted', 'true', 365);         
            gl_analytics_includes();
        }

        document.getElementById('cookie-notice').style.visibility = 'hidden';
        $("#cookie-config").removeClass("cookie-config-visible");
    }

    $(document).ready(function(){
        if(readCookie('cookie-notice-dismissed') == 'true'){

        } else {
            document.getElementById('cookie-notice').style.visibility = 'visible';
        }

        if(readCookie('cookie-google-analysis_accepted')=='true') {
            console.log("Google Analysis accepted");
            gl_analytics_includes();
            
        }

        document.getElementById('cookie-notice-accept').addEventListener("click",function() {
            processCookieConfiguration(true, true);
            //createCookie('cookie-notice-dismissed','true',365);
            //document.getElementById('cookie-notice').style.display = 'none';
            //gl_analytics_includes();
            //location.reload();
        });

        document.getElementById('cookie-configure-btn').addEventListener("click", function(){

            //$("#cookie-config-container").addClass("cookie-config-container-visible");
            $("#cookie-config").addClass("cookie-config-visible");

        });

        document.getElementById('cookie-config-back').addEventListener("click", function(){
            $("#cookie-config").removeClass("cookie-config-visible");
        });

        document.getElementById('cookie-config-save').addEventListener("click", function(){
            var miguelsd_personalization = false;
            var google_analysis = false;

            if(document.getElementById('miguelsd-personalization-chk').checked){
                miguelsd_personalization = true;
            }
            if(document.getElementById('google-analysis-chk').checked){
                google_analysis = true;
            }

            processCookieConfiguration(miguelsd_personalization, google_analysis);
        });

        document.getElementById('cookie-config-reject').addEventListener("click", function(){
            processCookieConfiguration(false, false);
        });

    }); 

    function gl_analytics_includes(){
        if (!cookiesAlreadyAccepted){
            {%- if site.google_analytics -%}
                {%- include google-analytics.js -%}
            {%- endif -%}

            cookiesAlreadyAccepted = true;
        }

    }  
</script>
