<div class="columns">
	<div class="column is-12">
		<div id="cookie-notice" class="columns is-multiline">
			<div class="column is-12-tablet is-8-desktop">	
    			<span>{% t cookies.notice %}</span>
			</div>
			<div class="column is-12-tablet is-4-desktop">
				<div class="columns is-multiline">
					<div class="column is-12">
    					<a id="cookie-notice-accept" class="button is-primary is-inverted is-fullwidth">{% t global.accept %}</a>
    				</div>
    				<div class="column is-12">
    					<a id="cookie-configure-btn" class="button is-primary is-inverted is-outlined is-fullwidth">{% t cookies.configure %}</a>
    				</div>
    				<div class="column is-12">
    					<a href="{{ site.baseurl }}/cookie-policy/" class="button is-primary is-inverted is-outlined is-fullwidth">{% t cookies.policy %}</a>
    				</div>
    			</div>
			</div>
		</div>
	</div>
</div>

<div class="columns" id="cookie-config-container">
	<div class="column is-12">
		<div id="cookie-config" class="columns is-vcentered is-centered cookie-config is-multiline">
			<div class="column is-narrow">
				<a class="button is-text is-primary" id="cookie-config-back"><i class="fa fa-angle-left" aria-hidden="true" style="margin-right: 0.2em;"></i>{% t global.back %}</a>
			</div>
			<div class="column"><p class="title is-4 is-inverted">{% t cookies.config_title %}</div>

			<div class="column is-12 is-scrollable">
				<div class="columns is-multiline is-centered">
					<div class="column is-12">
						<p class="is-tiny" height = "10vh">{% t cookies.config_text %}</p>
					</div>
					
					<div class="column is-12">
						<table class="table is-fullwidth is-hoverable">
							<tbody>
								<tr>
									<th colspan="3">{% t cookies.providers.miguelsd %}</th>
								</tr>
								<tr>
									<td>
										<label class="checkbox">
		  									<input id="miguelsd-personalization-chk" type="checkbox">
										</label>
									</td>
									<td>
										{% t cookies.types.personalization %}
									</td>
									<td>
										{% t cookies.types.personalization_text %}
									</td>
								</tr>
							</tbody>
						</table>

						<table class="table is-fullwidth is-hoverable">
							<tbody>
								<tr>
									<th colspan="3">{% t cookies.providers.google %}</th>
								</tr>
								<tr>
									<td>
										<label class="checkbox">
		  									<input id="google-analysis-chk" type="checkbox">
										</label>
									</td>
									<td>
										{% t cookies.types.analysis %}
									</td>
									<td>
										{% t cookies.types.analysis_text %}
									</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
			</div>

			<div class="column is-6">
				<a class="button is-primary is-inverted is-fullwidth" id="cookie-config-save">{% t cookies.save_config %}</a>
			</div>
			<div class="column is-6">
				<a class="button is-danger is-outlined is-fullwidth" id="cookie-config-reject">{% t global.reject_all %}</a>
			</div>
		</div>
	</div>	
</div>
