<section class="showcase">
	{% if include.image %}

	<!-- <figure class="image is-4by3">
		<img src="{{ include.image }}">	
	</figure> -->

	<section class="hero" style="background: url({{ include.image }});">
		<div class="hero-body">
		    <div class="container">
		      <p class="title"></p>
		      <p class="subtitle"></p>
		    </div>
		</div>

	</section>

	{% endif %}
	<div class="showcase-content">
		<div class="columns is-centered">
			<div class="column is-12">
				<p class="title">{% t include.title %}</p>
				<p class="subtitle">{% t include.subtitle %}</p>
			</div>
		</div>		
		<p align="justify">{% t include.description %}</p>

		{% if include.tags %}
		<div class="tags is-centered">
		{% for tag in include.tags %}

		<div class="tag is-outlined">{{ tag }}</div>

		{% endfor %}
		</div>
		{% endif %}

		<div class="has-text-centered">
	      <a href="{{ include.url }}"><span class="button is-primary">{% t global.view %}</span></a>
	  	</div>
  	</div>
</section>