{% if page.menubar and page.show_sidebar %} 
    {% assign content_width = 'is-4' %} 
{% elsif page.menubar or page.show_sidebar %} 
    {% assign content_width = 'is-8-desktop is-12-tablet' %} 
{% else %} 
    {% assign content_width = 'is-12' %} 
{% endif %}
<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="{{ site.lang }}" xml:lang="{{ site.lang }}">
  {% include head.html %}
  <body>  
    <a href="#" id="top-page-anchor"></a> 
    {% include header.html %}
    {% unless page.hide_hero %}
        {% include hero.html %}
    {% endunless %}
    {% include callouts.html %}
    <section class="section">
        <div class="container">
            <div class="columns">
                {% if page.menubar %}
                <div class="column is-4-desktop is-4-tablet">
                    {% include menubar.html %}
                </div>
                {% endif %}
                <div class="column {{ content_width }}">                  
                    {% include tabs.html %}
                    {% include showcase.html %}
                    {% include sponsors.html %}
                    {{ content }}
                </div>
                {% if site.posts and page.show_sidebar %}
                <div class="column is-4-desktop is-12-tablet">
                    <h2 class="title is-4">{% t global.social_media_find %}</h2>
                    {% include social_media.html %}       

                    {% include latest-posts.html sidebar=true %}

                    <h2 class="title is-4">{% t global.featured_projects %}</h2>
                    {% for project in site.projects %}
                        {% if project.featured %}

                            {% include featured_project.html url=project.permalink title=project.title subtitle=project.subtitle description=project.description tags=project.tags %}

                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        <span class="scroll-to-top" id="scroll-to-top"><i class="fa fa-chevron-up scroll-to-top-arrow"></i>

    </section>
    {% unless page.hide_footer %}
        {% include footer.html %}
    {% endunless %}
    <script src="{{ site.baseurl }}/assets/js/app.js" type="text/javascript"></script>
    {%- include footer-scripts.html -%}
    {% include cookie_notice.html %}
  </body>
</html>

